---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 100
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<.*\.h>'
    Priority: 1
  - Regex:    '^<.*'
    Priority: 2
  - Regex:    '^"clustering/.*"'
    Priority: 3
  - Regex:    '.*'
    Priority: 4
